.main {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
}
.header h1 {
  font-size: 1rem;
}
.contents {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.maximized {
  box-shadow: none;
  padding: 0;
}
