html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}
pre {
  -moz-tab-size: 4;
  tab-size: 4;
}

table {
  border: solid 1px black;
}
th,
td {
  vertical-align: top;
  border: solid 1px #ccc;
}

td > div {
  max-width: 50em;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 2em;
}
