.urlConfig {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.locationBox {
  flex-grow: 1;
  position: relative;
  display: flex;
}
.urlConfig > * {
  margin-right: 5px;
}
.urlInput {
  height: 2em !important;
  flex-grow: 1;
}
