.true,
.false {
  text-align: center;
}
.text,
.true,
.false,
.null,
.empty,
.number {
  padding: 2px 2px;
  height: 2.2em;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.true {
  font-weight: bold;
  color: #0066ff;
}
.false {
  font-style: italic;
  color: #888;
}
.null,
.empty {
  font-style: italic;
  color: #888;
}
.number {
  color: blue;
  text-align: right;
}
.json {
  color: #00830f;
}

.text {
  max-width: 80vw;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: center;
}

.query {
  font-family: monospace;
  width: 100%;
  height: 200px;
}
.row {
  margin: 5px 0;
}
