.true,
.false {
  text-align: center;
}
.url,
.text,
.json,
.react,
.link,
.true,
.false,
.null,
.empty,
.number {
  padding: 2px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 28px;
}
.overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}
.true {
  font-weight: bold;
  color: #0066ff;
}
.false {
  font-style: italic;
  color: #888;
}
.null,
.empty {
  font-style: italic;
  color: #888;
}
.number {
  color: blue;
  text-align: right;
}
.json {
  color: #075855;
  line-break: auto;
}
.link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.text {
  max-width: 80vw;
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: center;
}

.query {
  font-family: monospace;
  width: 100%;
  height: 200px;
}
.row {
  margin: 5px 0;
}

.treeNode div {
  display: inline;
}
.treeKey {
  font-weight: bold;
}
.treeNode a {
  text-decoration: underline !important;
}
