.root {
}
.table {
  background: var(--button-highlight);
  box-shadow: var(--border-field);
  padding: 2px;
  margin: 6px;
  border-spacing: 0;
  overflow-x: auto;
}
.row {
}
.column {
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
}
.column,
.cell {
  background: var(--button-highlight);
}
.columnRow {
}
.cell {
  padding: 1px 0 0 1px;
  border-bottom: solid 1px var(--button-face);
  border-right: solid 1px var(--button-face);
  outline: none;
}
.cell:focus {
  padding: 0;
  border: solid 1px #000;
}
.column {
  border: none;
  background: var(--surface);
  box-shadow: var(--border-raised-outer), var(--border-raised-inner);
  padding: 3px 12px;
}
