:root {
  --accent-color: #4a48ff;
  --app-height: 100vh;
  tab-size: 4;
}

h1,
h2,
h3 {
  font-size: 1rem;
}

button,
label,
input,
textarea,
select,
option,
ul.tree-view,
.window,
.title-bar {
  font-family: -apple-system, 'Roboto', 'Helvetica', 'Arial', sans-serif !important;
  -webkit-font-smoothing: revert !important;
  font-size: 14px !important;
}

pre {
  overflow-x: auto;
}

fieldset + fieldset {
  margin: 10px 0;
}
